<h1>Editing tweet</h1>

<% form_for(@tweet) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @tweet %> |
<%= link_to 'Back', tweets_path %>