<% 
@body_class = "page-forms"
%>

<div class="full">
	<header class="column width4">
		<h1>Editing <%=@user.name%></h1>
		<hr class="full">
	</header>

  <% form_for(@user) do |f| %>
    <%= f.error_messages %>
  	<section class="column width4 first">
  		<fieldset class="width2">
        <label class="width1 first">
          Name
          <%= f.text_field :name, :class => "text" %>
        </label>
        <label class="width1 first">
          Email
          <%= f.text_field :email, :class => "text" %>
        </label>
        <label class="width1 first">
          Update Password
          <%= f.password_field :password, :class => "text" %>
        </label>
        <label class="width1 first">
          Confirm Password
          <%= f.password_field :password_confirmation, :class => "text" %>
        </label>
  		</fieldset>
  		<fieldset class="width2">
  			<%= f.submit 'Update' %>
  		</fieldset>
  	</section>
  <% end %>
</div>