<h1>Listing users</h1>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Action</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.name %></td>
    <td><%=h user.email %></td>
    <td>
    <% if session[:user_is_admin] or session[:user_id] == user.id %>
    <%= link_to 'Edit', edit_user_path(user) %>
    <% end %>
    &nbsp;
    <% if session[:user_is_admin] %>
    <%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<% if session[:user_is_admin] %>
<%= link_to 'New user', new_user_path %>
<% end %>