<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Thirty: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'baseline.compress' %>
  <script type="text/javascript" src="scripts/html5.js"></script>
  <style>
		#page					{ margin: 0 auto 36px auto; }
		section					{ padding-bottom: 0 !important; }
		hr						{ background: #c00; }
		#branding a				{ border: none; }
		nav ul					{ width: 100%; margin: 0; top: 0; float: left; }
		@media only screen and (max-device-width:480px) {
			.layout-grid		{ background-image: url(images/baseline.png); }
		}
	</style>
</head>
<body>

<p style="color: green"><%= notice %></p>

<%= yield %>

<p><%= link_to 'Logout', :controller => 'home', :action => 'logout' %></p>

</body>
</html>