<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>ShitIm30Sumptin: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'baseline.compress' %>
  <%= javascript_include_tag 'html5' %>
</head>
<body class="<%= @body_class %>">
  <div id="page">
    
		<header id="branding">
		  <%= link_to( image_tag("logo.jpg", :size => "396x101"), {:controller => "home", :action => "index"}) %>
		  <% if notice %>
		  <h3><mark><%= notice %></mark></h3>
		  <% end %>
		</header>
		
		<%= yield :layout %>
		
		<footer class="full">
  		<% if @footer_links %>
			<p><small>
			  <% @footer_links.each do |footer_link| %>
			  <%= footer_link %> | 
			  <% end %>
			  <%= link_to 'Home', :controller => 'home', :action => 'index' %> | 
			  <%= link_to 'Logout', :controller => 'home', :action => 'logout' %>
			</small></p>
  		<% end %>
		</footer>
		
	</div>
</body>
</html>